/Client/.vscode
/Client/.vs
/Client/.idea
/Client/Assets/Plugins/Editor.meta
/Client/Assets/Plugins/Editor/JetBrains.meta
/Client/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/Client/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
/Client/Library
/Client/obj
/Client/Assembly-CSharp-Editor.csproj
/Client/Client.sln
/Client/Assembly-CSharp.csproj
/Server/.vscode
/Client/Temp
